$blueGrey: #b0b9c0;
$darkBlue: #0F3F55;
$grey: #5B5150;
$cream: #E6E1DF;
$lightBlue: #4F8BA6;



@import "./partials/setup";
@import "./partials/loginpage";
@import "./partials/postcard";



body {
	// background-color: #f8f6f1;
}

ul {
	text-decoration: none;
	list-style-type: none;
}

.container {
	max-width: 900px;
	text-align: center;
	margin: 0 auto;
	h1 {
		color: $blueGrey;
		border-bottom: 3px solid $darkBlue;
		font-family: 'Roboto', sans-serif;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 40px;
		padding-bottom: 10px;
	}
}

p {
	color: $grey;
	font-family: sans-serif;
}

.logoutButton {
	float: right;
	position: absolute;
	right: 20px;
	top: 20px;
	// margin-right: 20px;
}

input {
	border-top: none;
	border-left:3px solid $blueGrey;
	border-right: none;
	border-bottom: 3px solid $blueGrey;
	padding: 5px 15px;
	margin: 10px;
}

input::placeholder {
	// color: pink;
}


textarea {
	border: none;
	padding: 5px 15px;
	border-top: none;
	border-left:3px solid $blueGrey;
	border-right: none;
	border-bottom: 3px solid $blueGrey;
}

button, input[type="submit"] {
	background-color: $darkBlue;
	text-transform: uppercase;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 700;
	border: none;
	color: $cream;
	padding: 5px 35px;
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.15);
}

input[type="submit"] {
	display: block;
	margin: 0 auto;
}

button:hover, input[type="submit"]:hover {
	color: $lightBlue;
}

form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;

}

// input {
// 	width: 30%;

// }
// Autocomplete {
// 	width: 100%;
// }

footer {
	border-top: 3px solid $darkBlue;
}



//calendar


.input-calendar {
  font-family: 'Pontano Sans', sans-serif;
  position: relative;
}

.input-calendar-wrapper {
  position: absolute;
  padding: 5px 12px;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  box-shadow: 0 0 9px 5px rgba(0,0,0,0.05);
  background-color: #fff;
  text-align: center;
  left: 140px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input-calendar .input-calendar-field {
  width: 120px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: 'Pontano Sans', sans-serif;
  font-size: 16px;
  padding: 2px 8px;
}

.input-calendar .input-calendar-field:focus {
  outline: none;
  border: 1px solid #f39c12;
}

.input-calendar .calendar-icon {
  display: inline-block;
  padding: 0px 1px 0 5px;
  height: 27px;
  line-height: 27px;
  transform: translateY(4px);
  cursor: pointer;
}

.input-calendar .days,
.input-calendar .months,
.input-calendar .years {
  width: 189px;
  padding-bottom: 2px;
}

.input-calendar .cell {
  display: inline-block;
  text-align: center;
  cursor: pointer;
  border: 1px solid #fff;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.input-calendar .cell:hover {
  color: #f39c12;
  border: 1px solid #f39c12;
  border-radius: 4px;
}

.input-calendar .cell.current {
  background: #f39c12;
  color: #fff;
  border-radius: 4px;
  opacity: .8;
}

.input-calendar .day {
  width: 25px;
  height: 25px;
  line-height: 25px;
}

.input-calendar .day.prev,
.input-calendar .day.next {
  opacity: .4;
}

.input-calendar .month {
  width: 58px;
  height: 38px;
  line-height: 38px;
}

.input-calendar .year {
  width: 58px;
  height: 38px;
  line-height: 38px;
}

.input-calendar .days-title .cell {
  height: 25px;
  line-height: 28px;
  opacity: 0.5;
  cursor: default;
}

.input-calendar .days-title .cell:hover {
  color: #000;
  border: 1px solid #fff;
}

.input-calendar .navigation-title {
  width: 100px;
  display: inline-block;
  cursor: pointer;
}

.input-calendar .years-view .navigation-title {
  cursor: default;
}

.input-calendar .years-view .navigation-title:hover {
  color: #000;
}

.input-calendar .navigation-title:hover {
  color: #f39c12;
}

.input-calendar .icon-wrapper {
  cursor: pointer;
}

.input-calendar .icon:hover,
.input-calendar .today-btn:hover,
.input-calendar .icon-wrapper:hover {
  color: #f39c12;
}

.input-calendar .icon {
  cursor: pointer;
  width: 20px;
}

.input-calendar .today-btn {
  cursor: pointer;
}

.input-calendar .cell.day.today {
  position: relative;
}

.input-calendar .cell.day.today:after {
  content: '.';
  position: absolute;
  bottom: 15px;
  right: 1px;
  font-size: 20px;
  color: #F39C12;
}



