//login page

@keyframes slidy {
	0% { left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
	75% { left: -300%; }
	95% { left: -300%; }
	100% { left: -400%; }
}

div#slider { 
	overflow: hidden; 
}

div#slider figure img { 
	object-fit: cover;
	width: 100vw; 
	height: 100vh;
}

div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  font-size: 0;
  animation: 30s slidy infinite; 
}

.overlay {
	position: absolute;
	transform: translateX(-50%);
	text-align: center;
	transform: translateY(-50%);
	top: 50%;
	height: 60vh;
	width: 100vw;
	background-color: rgba(0,0,0,0.7);
	z-index: 200;
	h1 {
		color: white;
		font-family: 'Oleo Script Swash Caps', cursive;
		font-size: 90px;
		top: 20%;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		margin: 0;
	}
	h3 {
		text-transform: uppercase;
		font-family: 'Oswald', sans-serif;
		font-weight: 300;
		color: $seafoam;
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 40%;
	}
	button {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 20%;
	}
}
