.singleCard {
	position: relative;
}

ul {
	padding-left: 0px;
	margin: 10px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

li {
	margin: 8px;
	width: calc(50% - 16px);
	box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
}

.renderedImage {
	max-width: 100%;
	vertical-align:bottom;
}

.displayBack {
	visibility: hidden;
	position: absolute;
	top:0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 100;
	background-color: mintcream;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	p {
		color: $darkBlue;
	}
	.postcardLeft, .postcardRight {
		width: calc(50% - 40px);
		margin: 15px 20px;
	}
	.postcardLeft p {
		line-height: 30px;
	}
	.postcardRight {
		border-left: 2px solid $darkGreen;
		padding-left: 20px;
	}

	

}

.singleCard .displayBack.active {
	visibility: visible;
}







